[submodule "uiniqu_flask"]
	path = uiniqu_flask
	url = https://github.com/rizkiaryandi/uiniqu_flask.git
[submodule "New-Uiniqu"]
	path = New-Uiniqu
	url = https://github.com/rizkiaryandi/New-Uiniqu.git
[submodule "uiniqu-administrator"]
	path = uiniqu-administrator
	url = https://github.com/rizkiaryandi/uiniqu-administrator.git
